html {
  overflow: hidden;
}

.app {
  font-family: Verdana;
  color: black;
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.home {
  text-align: center;
  padding-top: 10px;
}

.contact {
  position: relative;
  text-align: center;
  padding-right: 25px;
  padding-top: 5px;
  float: right;
}

.contact #title {
  font-variant: small-caps;
  font-size: 15px;
}

a:hover {
  transform: scale(1.25);
}

.home #logo {
  font-family: Marker Felt, fantasy;
  font-weight: 600;
  font-variant: small-caps;
  font-size: 35px;
  text-align: left;
  padding-left: 20px;
  float: left;
  color: black;
}

.home #logo:hover {
  transform: scale(1.1);
}

.search-text {
  padding-top: 200px;
  text-align: center;
}

.search-title {
  font-size: 15px;
  text-align: center;
  font-variant: small-caps;
}

.form {
  width: 350px;
  text-align: center;
}

.search-button {
  width: 150px;
}

.search-button-div {
  padding-top: 25px;
}

.form-field-div {
  padding-top: 10px;
}

.loadout {
  text-align: center;
  padding-top: 120px;
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.loadout #name {
  padding-right: 240px;
}

.cards {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 50px;
  color: black;
}

.cards #card {
  width: 23%;
  border-radius: 25px;
}

.message {
  text-align: center;
  font-size: medium;
}

.intro-text {
  font-size: 22px;
  width: 50%;
  float: left;
  padding-left: 40px;
  padding-right: 0px;
  font-variant: small-caps;
}

.search {
  width: 50%;
  float: right;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 70px;
}

.message-button {
  padding-top: 15px;
}

.loadouts-button {
  float: left;
  padding-left: 60px;
}

.toggle {
  text-align: center;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: gray;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}

.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: white;
}

.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: blue;
}

.toggle-form {
  display: inline-flex;
  padding-bottom: 20px;
}

.toggle-form #title {
  font-size: 20px;
  font-variant: small-caps;
  float: right;
}

.toggle-form #toggle-button {
  float: left;
  padding-left: 150px;
  padding-right: 20px;
  padding-top: 2px;
}

.mobile-app {
  font-family: Verdana;
  color: black;
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.mobile-loadout {
  text-align: center;
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.mobile-home {
  text-align: center;
  padding-top: 10px;
}

.mobile-home #logo {
  font-family: Marker Felt, fantasy;
  font-weight: 600;
  font-variant: small-caps;
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
  float: left;
  color: black;
}

.mobile-contact {
  position: relative;
  text-align: center;
  padding-right: 15px;
  padding-top: 0px;
  float: right;
}

.mobile-contact #title {
  font-variant: small-caps;
  font-size: 15px;
}

.intro-mobile-text {
  font-size: 12px; 
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-variant: small-caps;
}

.search-mobile-text {
  padding-top: 120px;
  text-align: center;
}

.mobile-search {
  padding-left: 50px;
  padding-right: 50px;
}

.mobile-toggle-form #toggle-button {
  float: left;
  padding-left: 10px;
  padding-right: 20px;
}

.mobile-toggle-form #title {
  font-size: 15px;
  font-variant: small-caps;
  float: right;
}

.mobile-toggle-form {
  display: inline-flex;
  padding-bottom: 15px;
  padding-top: 50px;
  position: relative;
}

.mobile-form {
  width: 400px;
  text-align: center;
}

.mobile-loadouts-button {
  float: left;
  padding-left: 100px;
  padding-top: 25px;
}

.mobile-loadout #name {
  padding-top: 130px;
}

.mobile-cards {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 50px;
  color: black;
}

.mobile-cards #card {
  width: 90%;
  border-radius: 25px;
}

@media screen and (orientation: landscape) {
  .mobile-app {
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 100px;
  }
  .mobile-toggle-form #toggle-button {
    float: left;
    padding-left: 180px;
    padding-right: 20px;
  }

  .mobile-loadouts-button {
    float: left;
    padding-left: 110px;
    padding-top: 60px;
  }

  .mobile-loadout #name {
    padding-top: 120px;
  }
}