.app {
  background-image: url('./background.jpg');
  background-size: cover;
}

.home {
  color: aliceblue;
  text-align: center;
  padding-top: 30px;
}

.search-title {
  color: aliceblue;
  font-size: 20px;
  text-align: center;
}

.form {
  width: 500px;
  padding-top: 100px;
  text-align: center;
}

.search-button {
  width: 100px;
}
